.section-print {
  display: none
}

@page {
  margin: 5mm;
}

@media print {
  html, body {
    height: 100%;
    overflow: hidden;
  }
  .row-bill {
    height: auto;
  }
  header {
    background-color: black;
  }
  .section-print {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
  }
  .section {
    flex: 1;
    position: relative;
  }
  .original-copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .subpage {
    display: flex;
    flex-direction: column;
  }
  #prueba {
    width: 100%;
  }
  #prueba .title {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: flex-end;
  }
  .body {
    flex: 1;
  }
  .line {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .bill-wrapper {
    display: flex;
    justify-content: space-around;
    /* margin-top: 40px; */
    /* margin-bottom: 40px; */
  }
  .bill-number {
    align-self: flex-end;
  }
  h6, h3, h4, h2, h5 {
    margin: 0;
    padding: 0;
  }
  .row-bill {
    height: auto !important;
    page-break-inside: avoid;
  }
  .table {
    margin-top: 5px;
  }
  .clipping {
    border-style: dashed;
    width: 100%;
  }
  .title-typo {
    margin: 0px !important;
    padding: 0px !important;
  }
  th, td {
    font-size: 0.55rem !important;
  }
}